<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
rel="stylesheet"
/>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdC3oIMZW0umanBUyY6TiPdEH3h_RkMOmIPQ&usqp=CAU"
                          style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Users are waiting....</h4>
                      </div>
                      <form method="post" action="/adminsignup">
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4 pt-2">
                          <input type="email" id="form2Example11" class="form-control"
                            placeholder="Phone number or email address" name="Email" />
                          <label class="form-label" for="form2Example11">Email</label>
                        </div>
      
                        <div class="form-outline mb-4 pt-2">
                          <input type="password" id="form2Example22" class="form-control" name="Password" />
                          <label class="form-label" for="form2Example22">Password</label>
                        </div>
      
                      
                    <div class="mt-4 pt-2">
                        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                      </div>
      
                       
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white  py-4 p-md-5 mx-md-4" style="padding-top:30px ;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdC3oIMZW0umanBUyY6TiPdEH3h_RkMOmIPQ&usqp=CAU" style="           width: 54vh;
                        " alt="">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


     
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
></script>
</body>
</html>