<%- include('userpartials/userheader.ejs') %>

<main role="main" class="container">
    <div class="jumbotron">
      <h1 class="text-center">You are blocked</h1>
      <p class="lead">You have been blocked for some reason and cannot use the functionalities on this website.</p>
      <a class="btn btn-lg btn-primary" href="/" role="button">Go Home &raquo;</a>
    </div>
  </main>
  <%- include('userpartials/linkfooter.ejs') %>