<%- include('userpartials/userheader.ejs') %>
<section class=" pt-5"  >
    
        <div class="container pt-5">
            <div class="row">
                <div class="col" style="    font-size: 20px;
                margin-top: 10px;">
                    <p class="bread"><span><a href="/">Home</a></span> / <span>Purchase Complete</span></p>
                </div>
            </div>
        </div>
 
</section>



<div class="colorlib-product">
    <div class="">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active" style="margin-top: 20px;">
                        <p><span>01</span></p>
                        <h3>Shopping Cart</h3>
                    </div>
                    <div class="process text-center active"  style="margin-top: 20px;">
                        <p><span>02</span></p>
                        <h3>Checkout</h3>
                    </div>
                    <div class="process text-center active" style="margin-top: 20px;">
                        <p><span>03</span></p>
                        <h3>Order Complete</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                <p class="icon-addcart"><span><ion-icon name="checkmark-outline" style="    font-size: 117px;
                    color: orange;
                "></ion-icon></span></p>
                <h2 class="mb-4">Thank you for purchasing, Your order is complete</h2>
                <p>
                    <a href="/usercategory"class="btn btn-primary btn-outline-primary">Home</a>
                </p>
            </div>
        </div>
    </div>
</div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<%- include('userpartials/userfooter.ejs') %>